

html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

@font-face {
  font-family: Bagnard;
  src: url("/fonts/Bagnard-Regular.otf") format("opentype");
}

@font-face {
  font-family: GT Walsheim;
  src: url("/fonts/GT-Walsheim-Regular.otf") format("opentype");
}

.arrow-icon-container__icon * {
  fill: #1CA6CF;
}

.arrow-icon-container:hover .arrow-icon-container__icon * {
  fill: #FF5400;
}

@-webkit-keyframes arrowBounceLeft {
  0% {
    -webkit-transform: rotate(180deg) translateX(-5px);
            transform: rotate(180deg) translateX(-5px);
  }

  50% {
    -webkit-transform: rotate(180deg) translateX(10px);
            transform: rotate(180deg) translateX(10px);
  }

  100% {
    -webkit-transform: rotate(180deg) translateX(0);
            transform: rotate(180deg) translateX(0);
  }
}

@keyframes arrowBounceLeft {
  0% {
    -webkit-transform: rotate(180deg) translateX(-5px);
            transform: rotate(180deg) translateX(-5px);
  }

  50% {
    -webkit-transform: rotate(180deg) translateX(10px);
            transform: rotate(180deg) translateX(10px);
  }

  100% {
    -webkit-transform: rotate(180deg) translateX(0);
            transform: rotate(180deg) translateX(0);
  }
}

.back-button {
  top: 18px;
  left: 18px;
}

.back-button:hover .back-button__arrow {
  -webkit-animation: arrowBounceLeft 0.3s forwards;
          animation: arrowBounceLeft 0.3s forwards;
}

@media (max-width: 600px) {
  .back-button {
    left: 30px;
  }
}

.image-frame {
  border-radius: 4px;
  border: 1px solid #C9C9C9;
  font-size: 0;
  overflow: hidden;
}

.image-frame--mobile {
  bottom: -5px;
  right: -5px;
  width: 150px;
  border-radius: 8px;
  box-shadow: -4px -8px 30px rgba(0, 0, 0, 0.2);
}

.image-frame--chooseday {
  width: 228px;
  border-radius: 12px;
}

@media (max-width: 900px) {
  .image-frame--chooseday {
    width: 184px;
  }
}

.image-frame__image {
  width: 100%;
  height: auto;
}

.image-frame__rule {
  height: 1px;
  background: #C9C9C9;
}

.image-frame__buttons {
  top: 7px;
  left: 7px;
  line-height: 0;
}

.image-frame__buttons--mobile {
  top: auto;
  left: 50%;
  margin-left: -8px;
  bottom: 10px;
}

.image-frame__buttons--chooseday {
  top: auto;
  left: 50%;
  margin-left: -14px;
  bottom: 10px;
}

.image-frame__button {
  width: 10px;
  height: 10px;
  border: 1px solid #FF5400;
  border-radius: 50%;
  margin-right: 5px;
}

.image-frame__button--mobile {
  width: 16px;
  height: 16px;
  margin-right: 0;
}

.image-frame__button--chooseday {
  width: 28px;
  height: 28px;
  margin-right: 0;
}

@media (max-width: 900px) {
  .image-frame__buttons--chooseday {
    top: auto;
    left: 50%;
    margin-left: -12px;
    bottom: 6px;
  }

  .image-frame__button--chooseday {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 600px) {
  .image-frame {
    border-color: #EEE;
    border-width: 1px 0;
    border-radius: 0;
  }

  .image-frame--chooseday {
    border: 0;
  }
}

.name:hover {
  cursor: pointer;
}

.name__letter {
  display: inline-block;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 0.2s -webkit-transform cubic-bezier(0.55, 0, 0.1, 1.2),
              0.2s color cubic-bezier(0.55, 0, 0.1, 1.2);
          transition: 0.2s transform cubic-bezier(0.55, 0, 0.1, 1.2),
              0.2s color cubic-bezier(0.55, 0, 0.1, 1.2);
}

.name__letter:hover {
  -webkit-transform: translateY(-4px);
      -ms-transform: translateY(-4px);
          transform: translateY(-4px);
  color: #1CA6CF;
}

.name__letter:nth-child(2n):hover {
  color: #FF5400;
}

@-webkit-keyframes arrowBounceRight {
  0% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }

  50% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes arrowBounceRight {
  0% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }

  50% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.section-link {
  box-shadow: 0;
  -webkit-transition: all 0.4s ease;
          transition: all 0.4s ease;
}

.section-link__heading {
  -webkit-transition: color 0.2s cubic-bezier(0.55, 0, 0.1, 1.2);
          transition: color 0.2s cubic-bezier(0.55, 0, 0.1, 1.2);
}

.section-link:hover {
  box-shadow: 4px 8px 30px rgba(28, 166, 207, 0.3);
  position: relative;
}

.section-link:hover .section-link__heading {
  color: #1CA6CF;
}

.section-link:hover .section-link__arrow {
  -webkit-animation: arrowBounceRight 0.3s forwards;
          animation: arrowBounceRight 0.3s forwards;
}

.site-container {
  width: 720px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .site-container {
    width: 600px;
  }
}

@media (max-width: 600px) {
  .site-container {
    width: 100%;
  }
}

.video-frame {
  width: 100%;
  height: 405px;
}

@media (max-width: 900px) {
  .video-frame {
    height: 332px;
  }
}

@media (max-width: 600px) {
  .video-frame {
    height: 350px;
  }
}

.u-text-heading {
  font-family: Bagnard, Georgia, Times, serif;
  font-weight: normal;
}

.u-text-base {
  font-family: GT Walsheim, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

.u-color-blue {
  color: #1CA6CF;
}

.u-color-red {
  color: #FF5400;
}

.u-color-yellow {
  color: #FFFAD9;
}

.u-color-dark-grey {
  color: #333;
}

.u-color-medium-grey {
  color: #AAA;
}

.u-color-grey {
  color: #C9C9C9;
}

.u-color-red-hover:hover {
  color: #FF5400;
}

.u-color-blue-hover:hover {
  color: #1CA6CF;
}

.u-font-size-xxl {
  font-size: 40px;
}

.u-font-size-xl {
  font-size: 30px;
}

.u-font-size-l {
  font-size: 24px;
}

.u-font-size-m {
  font-size: 20px;
}

.u-font-size-s {
  font-size: 17px;
}

@media (max-width: 900px) {
  .u-font-size-xxl {
    font-size: 30px;
  }

  .u-font-size-xl {
    font-size: 24px;
  }

  .u-font-size-l {
    font-size: 20px;
  }

  .u-font-size-m {
    font-size: 17px;
  }

  .u-font-size-s {
    font-size: 15px;
  }
}

.u-link {
  padding-bottom: 1px;
  -webkit-transition: 0.2s color cubic-bezier(0.55, 0, 0.1, 1.2),
              0.2s border-color cubic-bezier(0.55, 0, 0.1, 1.2);
          transition: 0.2s color cubic-bezier(0.55, 0, 0.1, 1.2),
              0.2s border-color cubic-bezier(0.55, 0, 0.1, 1.2);
}

.u-link,
.u-link:visited {
  text-decoration: none;
  color: #FF5400;
  border-bottom: 1px solid #1CA6CF;
}

.u-inactive-link {
  padding-bottom: 1px;
  border-bottom: 1px solid #AAA;
}

.u-link:hover,
.u-link:active {
  color: #1CA6CF;
  border-bottom: 1px solid #FF5400;
}

.u-background-yellow {
  background: #FFFAD9;
}

.u-background-white {
  background: white;
}

.u-display-block {
  display: block;
}

.u-display-inline-block {
  display: inline-block;
}

.u-text-decoration-none {
  text-decoration: none;
}

.u-text-align-center {
  text-align: center;
}

.u-position-relative {
  position: relative;
}

.u-position-absolute {
  position: absolute;
}

.u-rotate-180 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.u-nudge-B1 {
  position: relative;
  bottom: 1px;
}

.u-nudge-B2 {
  position: relative;
  bottom: 2px;
}

.u-nudge-L5 {
  position: relative;
  left: 5px;
}

.u-z-index-1 {
  z-index: 1;
}

.u-float-left {
  float: left;
}

.u-center {
  margin: 0 auto;
}

@media (max-width: 900px) {
  .u-md-nudge-T2 {
    position: relative;
    top: 2px;
  }
}

@media (max-width: 600px) {
  .u-sm-display-none {
    display: none;
  }

  .u-sm-size-1of2 {
    width: 50%;
  }

  .u-sm-text-align-left {
    text-align: left;
  }
}

/* PADDING */

/* All */

.u-padding-Axxl {
  padding: 36px;
}

.u-padding-Axl {
  padding: 30px;
}

.u-padding-Al {
  padding: 24px;
}

.u-padding-Am {
  padding: 18px;
}

.u-padding-As {
  padding: 12px;
}

.u-padding-Axs {
  padding: 6px;
}

.u-padding-An {
  padding: 0;
}

/* Top */

.u-padding-Txxl {
  padding-top: 36px;
}

.u-padding-Txl {
  padding-top: 30px;
}

.u-padding-Tl {
  padding-top: 24px;
}

.u-padding-Tm {
  padding-top: 18px;
}

.u-padding-Ts {
  padding-top: 12px;
}

.u-padding-Txs {
  padding-top: 6px;
}

.u-padding-Tn {
  padding-top: 0;
}

/* Bottom */

.u-padding-Bxxl {
  padding-bottom: 36px;
}

.u-padding-Bxl {
  padding-bottom: 30px;
}

.u-padding-Bl {
  padding-bottom: 24px;
}

.u-padding-Bm {
  padding-bottom: 18px;
}

.u-padding-Bs {
  padding-bottom: 12px;
}

.u-padding-Bxs {
  padding-bottom: 6px;
}

.u-padding-Bn {
  padding-bottom: 0;
}

/* Right */

.u-padding-Rxxl {
  padding-right: 36px;
}

.u-padding-Rxl {
  padding-right: 30px;
}

.u-padding-Rl {
  padding-right: 24px;
}

.u-padding-Rm {
  padding-right: 18px;
}

.u-padding-Rs {
  padding-right: 12px;
}

.u-padding-Rxs {
  padding-right: 6px;
}

.u-padding-Rn {
  padding-right: 0;
}

/* Vertical */

.u-padding-Vxxl {
  padding-top: 36px;
  padding-bottom: 36px;
}

.u-padding-Vxl {
  padding-top: 30px;
  padding-bottom: 30px;
}

.u-padding-Vl {
  padding-top: 24px;
  padding-bottom: 24px;
}

.u-padding-Vm {
  padding-top: 18px;
  padding-bottom: 18px;
}

.u-padding-Vs {
  padding-top: 12px;
  padding-bottom: 12px;
}

.u-padding-Vxs {
  padding-top: 6px;
  padding-bottom: 6px;
}

.u-padding-Vn {
  padding-top: 0;
  padding-bottom: 0;
}

/* Horizontal */

.u-padding-Hxxl {
  padding-left: 36px;
  padding-right: 36px;
}

.u-padding-Hxl {
  padding-left: 30px;
  padding-right: 30px;
}

.u-padding-Hl {
  padding-left: 24px;
  padding-right: 24px;
}

.u-padding-Hm {
  padding-left: 18px;
  padding-right: 18px;
}

.u-padding-Hs {
  padding-left: 12px;
  padding-right: 12px;
}

.u-padding-Hxs {
  padding-left: 6px;
  padding-right: 6px;
}

.u-padding-Hn {
  padding-left: 0;
  padding-right: 0;
}

/* MARGIN */

/* All */

.u-margin-Axxl {
  margin: 36px;
}

.u-margin-Axl {
  margin: 30px;
}

.u-margin-Al {
  margin: 24px;
}

.u-margin-Am {
  margin: 18px;
}

.u-margin-As {
  margin: 12px;
}

.u-margin-Axs {
  margin: 6px;
}

.u-margin-An {
  margin: 0;
}

/* Top */

.u-margin-Txxl {
  margin-top: 36px;
}

.u-margin-Txl {
  margin-top: 30px;
}

.u-margin-Tl {
  margin-top: 24px;
}

.u-margin-Tm {
  margin-top: 18px;
}

.u-margin-Ts {
  margin-top: 12px;
}

.u-margin-Txs {
  margin-top: 6px;
}

.u-margin-Tn {
  margin-top: 0;
}

/* Bottom */

.u-margin-Bxxl {
  margin-bottom: 36px;
}

.u-margin-Bxl {
  margin-bottom: 30px;
}

.u-margin-Bl {
  margin-bottom: 24px;
}

.u-margin-Bm {
  margin-bottom: 18px;
}

.u-margin-Bs {
  margin-bottom: 12px;
}

.u-margin-Bxs {
  margin-bottom: 6px;
}

.u-margin-Bn {
  margin-bottom: 0;
}

/* Left */

.u-margin-Lxxl {
  margin-left: 36px;
}

.u-margin-Lxl {
  margin-left: 30px;
}

.u-margin-Ll {
  margin-left: 24px;
}

.u-margin-Lm {
  margin-left: 18px;
}

.u-margin-Ls {
  margin-left: 12px;
}

.u-margin-Lxs {
  margin-left: 6px;
}

/* Vertical */

.u-margin-Vxxl {
  margin-top: 36px;
  margin-bottom: 36px;
}

.u-margin-Vxl {
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-margin-Vl {
  margin-top: 24px;
  margin-bottom: 24px;
}

.u-margin-Vm {
  margin-top: 18px;
  margin-bottom: 18px;
}

.u-margin-Vs {
  margin-top: 12px;
  margin-bottom: 12px;
}

.u-margin-Vxs {
  margin-top: 6px;
  margin-bottom: 6px;
}

.u-margin-Vn {
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 900px) {
  .u-md-margin-Vn {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  .u-sm-margin-Tn {
    margin-top: 0;
  }

  .u-sm-margin-Vn {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-sm-padding-Rn {
    padding-right: 0;
  }

  .u-sm-padding-An {
    padding: 0;
  }

  .u-sm-margin-An {
    margin: 0;
  }

  .u-sm-margin-Lxs {
    margin-left: 6px;
  }

  .u-sm-margin-Rxs {
    margin-right: 6px;
  }

  .u-sm-padding-Lxs {
    padding-left: 6px;
  }

  .u-sm-padding-Rxs {
    padding-right: 6px;
  }
}